<button (click)="initNewContact()">Create New Contact</button>

<table>
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Place</th>
    <th></th>
  </thead>
  <tbody>
    <tr *ngFor="let contact of contacts">
      <td>{{ contact.name }}</td>
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.address }}</td>
      <td><button (click)="editContact(contact)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-contact
  [contact]="contactToEdit"
  (contactsUpdated)="updateContacts($event)"
></app-edit-contact>